/*
********************************************
      RELF - Real Estate Lead Form by
            AkEgo Development
********************************************

In this file are able to change the style of the form to your CI

*/
/*

Basic styling

*/
body {
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}
.relf-body a {
  color: #0C0C0C;
  text-decoration: none;
}
.relf-body {
  margin: 3rem 0;
  background-color: #f9f9f9;
  border: 1px solid #E6E6E6;
  width: 80%;
  max-width: 1000px;
}
.relf-top {
  background-color: #34879D;
  position: relative;
  padding: 1rem;
  text-align: center;
  color: #fff;
  box-shadow: 5px -5px 18px #DCDCDC;
}
.relf-top {
  font-size: 18px;
}
.relf-top h1 {
  font-size: 30px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.relf-top p {
  margin-top: 1rem;
}
.relf-bottom {
  background-color: #f5f5f5;
  color: #404040;
  letter-spacing: 1.5px;
  padding: 1rem;
  text-align: center;
}
.relf-logo {
  max-width: 70px;
  position: absolute;
  top: 0;
  left: 0;
  margin: -1rem;
}

/*

Main content styling

*/
#regForm, #main {
  margin: 1rem auto;
  padding: 10px;
  min-width: 300px;
  position: relative;
  height: 100%;
}

.relf-startbox {
  text-align: center;
}
.relf-startbox h2 {
  margin-top: 0.25rem;
  font-size: 25px;
  font-weight: bold;
}
.relf-startbox img {
  width: 100%;
  max-width: 270px;
}
.relf-box p {
  font-size: 14px;
}
.relf-box {
  margin: 0.25rem;
  background-color: #fff;
  border: 3px solid #fff;
  transition: 1s;
  box-shadow: 1px 1px 5px rgba(70,70,70,0.5);
}
.relf-box:hover, .relf-box.special:hover {
  border: 3px solid #34879D;
  cursor: pointer;
}
.relf-box.special {
  border: 3px solid #90C22A;
}
.relf-box.special .specialbot {
  position: relative;
}
.relf-box.special .specialbot span {
  background-color: #90C22A;
  color: #fff;
  font-size: 15px;
  transition: 1s;
  padding: 0.25rem 1rem;
  margin: -0.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 0.5rem);
}
.relf-box.special:hover .specialbot span {
  background-color: #34879D;
}

.relf-rbox {
  padding: 1rem;
}
.relf-rbox p {
  font-size: 14px;
  color: gray;
}
.relf-rbox img {
  width: 100%;
  max-width: 170px;
}
.relf-body input, .relf-body select {
  padding: 0.75rem 2rem;
  max-width: 500px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #ECECEC;
  border-radius: 0.25rem;
  outline: none;
  transition: 0.5s;
  background-color: #F6F6F6;
  border-bottom: 3px solid #8D8D8D;
}
.relf-body input:focus, .relf-body select:focus {
  border: 1px solid #34879D;
  border-bottom: 3px solid #34879D;
}

/* Mark input boxes that gets an error on validation: */
.relf-body input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.relf-body .tab {
  display: none;
}

.relf-body button {
  background-color: #34879D;
  color: #ffffff;
  border: none;
  padding: 0.5rem 2rem;
  margin: 5px;
  font-size: 17px;
  cursor: pointer;
}

.relf-body button:hover {
  opacity: 0.8;
}

.relf-body #prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.relf-body .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #6B6B6B;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
}

.relf-body .step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.relf-body .step.finish {
  background-color: #6B6B6B;
  opacity: 1;
}

@media screen and (min-width: 772px){
  .relf-quest span {
    background-color: #34879D;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-left: -0.65rem;
  }
  .relf-stepfoo {
    border-top: 1px solid #E6E6E6;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .relf-multimobile {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 772px) {
  .relf-main {
    height: auto;
  }
  .relf-quest {
    background-color: #bbbbbb;
    color: #fff;
    padding: 0.5rem 1rem;
  }
  .relf-stepfoo {
    border-top: 1px solid #E6E6E6;
  }
}
@media screen and (min-width: 992px){
  .relf-main {
    height: 400px;
  }
  .relf-startbox.relf-higher {
    margin-top: -3rem;
  }
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  opacity: 0.5;
  max-width: 90%;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  opacity: 1;
}

/*

Scrollbar Design

*/
.relf-scroll {
  overflow-y: auto;
}
.relf-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(156,156,156,0.3);
  background-color: #FFFFFF;
}

.relf-scroll::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

.relf-scroll::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border: 1px solid #eeeeee;
  border-radius: 50px;
}
